extends ../layout

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment-with-locales.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css")

block content
  h2 Create Milestone
  p Enter details for the new milestone
  form(method='post')
    include ../validation-errors.pug
    div.form-group
      label(for='name') Name
      input.form-control(type='text', name="name", id='name', value=milestone.name)
    div.form-group
      label(for='due') Due
      div(class='input-group date', id='due', data-target-input='nearest')
        input(class='form-control datetimepicker-input', name='due', type='text', data-target='#due', value=milestone.due)
        div(class='input-group-append', data-target='#due', data-toggle='datetimepicker')
          div.input-group-text
            i.fa.fa-calendar
    div
        button.btn.btn-primary(type='submit') Create Milestone
        |  | 
        a(href='/milestones/' + milestone.projectId) Go back
  script.
    $(function() {
      $('#due').datetimepicker({
        format: 'YYYY-MM-DD HH:mm Z',
        icons: {
          time: 'far fa-clock'
        }
      });
    });
    
