extends ../layout

block content
  h2 Delete Milestone
  p Are you sure you want to delete this milestone?
  p
    strong= milestone.name
  form(method='post')
    button.btn.btn-primary(type='submit') Delete
    |&nbsp;|&nbsp;
    a(href='/milestones/' + milestone.projectId) Go back
