extends ../layout
include ../form-helpers

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css")

block content
  h2 Edit Milestone
  p Edit details for the milestone
  form(method='post')
    +form_errors
    +form_text('name', milestone.name)
    +form_date('due', milestone.due)
    +form_date('completed', milestone.completed)           
    div
        button.btn.btn-primary(type='submit') Edit Milestone
        |  |  
        a(href='/milestones/' + milestone.projectId) Go back
  script.
    $(function() {
      $('#due').datetimepicker({
        format: 'YYYY-MM-DD HH:mm Z',
        icons: {
          time: 'far fa-clock'
        }
      });
      $('#completed').datetimepicker({
        format: 'YYYY-MM-DD HH:mm Z',
        icons: {
          time: 'far fa-clock'
        }        
      });      
    });
    
