if flashMessages.hasMessages() 
    div.container.flash-messages(role='alert')
        each message in flashMessages.getMessages()
            div.alert.alert-success
                | #{message.message}
                button.close(type="button", data-dismiss="alert", aria-label="Close")
                    span(aria-hidden="true") &times;
