extends layout

block content
  h2 Projects
  p
    a(href='/create') Create Project
  ul.list-group
    each project in projects
      li.list-group-item
        a(href='/projects/' + project._id)= project.name