extends ../layout
include ../form-helpers

block content
  h2 Create Project
  p Enter a name to create a new project
  form(method='post')
    +form_errors
    +form_text('name', project.name)
    div
        button.btn.btn-primary(type='submit') Create
        |&nbsp;|&nbsp;
        a(href='/') Go back
