extends ../layout
include ../form-helpers

block content
  h2 Update Project
  p Enter a new name for the project
  form(method='post')
    +form_errors
    +form_text('name', project.name)
    button.btn.btn-primary(type='submit') Edit
    |&nbsp;|&nbsp;
    a(href='/') Go back
