extends ../layout

block content
  h2 Update Project
  p Enter a new name for the project
  form(method='post')
    if errors
      ul
        each error in errors
          li= error.msg
    div.form-group
        label(for='name') Name
        input.form-control(type='text', name="name", id='name', value=project.name)
    div.text-right
        button.btn.btn-primary(type='submit') Update Project
