extends ../layout

block content
  div.row.content-header
    div.col
      h2 Projects
    div.col.text-right
      a.btn.btn-primary(href='/projects/create', role='button') Create New Project
  div.table-responsive
    table.table
      thead
        tr
          th Name
          th Created
          th Milestones
          th
          th
      tbody
        each project in projects
          tr
            td
              a(href='/milestones/' + project._id)= project.name
            td= project.createdPretty
            td= project.milestoneCount
            td.text-right
              a(href='/projects/edit/' + project._id)
                i.far.fa-edit 
                |  Edit
            td.text-right
              a(href='/projects/delete/' + project._id)
                i.far.fa-trash-alt 
                |  Delete
