extends ../layout
include ../form-helpers

block content
    div.row.justify-content-center
        div.col-6
            h2 Login
            p Login as an existing user
            form(method='post')
                if error
                    div.alert.alert-danger= error
                +form_email('email', email)
                +form_password('password')                     
                div
                    button.btn.btn-primary(type='submit') Login
                    |&nbsp;|&nbsp;
                    a(href='/users/register') Register
