extends ../layout

block content
    div.row.justify-content-center
        div.col-6
            h2 Logout
            form(method='post')
                p Log out of the site and go back to the home page
                button.btn.btn-primary(type='submit') Logout