extends ../layout
include ../form-helpers

block content
  div.row.justify-content-center
    div.col-6
      h2 Register
      p Register as a new user
      form(method='post')
        +form_errors
        +form_text('username', user.username)
        +form_email('email', user.email)
        +form_password('password', user.password)
        +form_password('passwordConfirm', user.passwordConfirm)                
        p: em.
          &#42; Required
        div
          button.btn.btn-primary(type='submit') Register
          |&nbsp;|&nbsp;
          a(href='/users/login') Login
